.cabecalho03{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;

    width: 100%;
    height: 6em;

    border-bottom: 1px solid #F27400;

    .cont-logo{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-start;

        margin-left: 2em;
    
        padding: 0px;
    
        width: 19em;
        height: 4em;
        border-bottom: 2px solid #F27400;
    }

    .text-bemvindo{
        color: #fff;
        font-family: 'Goldman';
        font-weight: 100;

        margin-left: -2em;
    }

    .login-icon{
        margin-right: 4em;
    }
    @media screen and (max-width:1300px) and (min-width:1000px) {
        height: 4em;
        .cont-logo{
        
            padding: 0px;
        
            width: 14em;
            height: 3em;
        }
        .login-icon{
            margin-right: 2em;
        }
    }
}
