.contt{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: flex-start;

    height: 10vh;
    width: 90%;

        .ads1{
            border-right: 2px solid #f29027;
        }

        .ads2{

        }

        .ads3{
            
        }


        .ads4{

        }   

        .ads5{
            
        }
}