.cb-02{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;

    width: 100%;
    height: 10vh;

    .cont-lg{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    
        padding: 0px;

        width: 19em;
        height: 70%;
        border-bottom: 2px solid #F27400 ;
    }      
    .alin{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

    }
    .p1{
        padding-left: 1em;
        height: 3em;
        color: #D9D9D9; 
    }
    .cb-r{
        display: flex;
        justify-content: flex-start;
        border-right: 1px solid #F27400;
        width: 30%;
        height: 3em;

    }
    

    .cont-pqs{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        
        margin-right: 30px;
        margin-left: 50px;

        width: 70em;
        height: 4em;

        padding-left: 5.5em;
    
    }
    .input-pqs{
        padding-left: 10px;
        width: 100em;
        height: 3em;
        margin-left: 1em;
        margin-right: -10px;

        border-radius: 8px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border: none;
        background-color: #D9D9D9;
    }

    textarea:focus, input:focus, select:focus {
        box-shadow: 0 0 0 0;
        border: 0 none;
        outline: 0;
    } 

    input::placeholder{
        color: black;
        font-family:'Goldman';
        font-size: 1.5em;
    }

    .botao-pqs{
        height: 3.2em;
        width: 4.2em;

        border-radius: 8px;
        border: none;

        background-color: #F27400;

        cursor: pointer;
    }  


    .cont-lgn{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        width: 10em;
        height: 4em;

        margin-right: 2em;

    }
    

    @media screen and (max-width: 1300px) and (min-width: 1000px) {
      height: 3.5em; 
      justify-content: space-around;
      .cont-lg{
        align-items: flex-start;
        width: max-content;
        height: 2.7em;
        margin-left: 0.8em;
        margin-bottom: 0.4em;
    }
    .cb-r{
        height: 2.6em;
        width: 1em;
    }
    .p1{
        margin: 0px;
        padding-left: 0px;
        height: max-content;
        font-size: 13px;
        margin-left: 0.7em;
        font-family: 'Goldman';
        font-weight: 100;
        color: #D9D9D9; 
    }
    .cont-pqs{
        align-items: center;
        justify-content: center;
        
        margin-right: 0px;
        margin-left: 0px;

        width: 46em;
        height: 2.8em;

        padding-left: 0em;
    }
    .input-pqs{
        padding-left: 0px;
        width: 25em;
        height: 2.4em;
        margin-left: 0em;
        margin-right: -10px;
        padding-left: 0.5em;

        border: none;
        background-color: #D9D9D9;
        border-radius: 6px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    textarea:focus, input:focus, select:focus {
        box-shadow: 0 0 0 0;
        border: 0 none;
        outline: 0;
    } 

    input::placeholder{
        color: rgba(0, 0, 0, 0.651);
        font-family:'Goldman';
        font-weight: 100;
        font-size:14px;
    }
    .botao-pqs{
        height: 2.6em;
        width: 3.6em;
        margin: 0px;
        margin-bottom: 0.8px;
        border-radius: 8px;
        border: none;

        background-color: #F27400;

        cursor: pointer;
    }
    .ibc{
        width: 2.7em;
        padding-right: 1em;
    }
    .icon-login{
        width: 25px;
        height: 25px;
    }
    .cont-lgn{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        width: 12em;
        height: 2.9em;

        margin-right: 1.4em;
    }
    }
}
