.cont-main-departamento{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: max-content;
    background-color: #d9d9d9;
    .cont-cabecalho-dep{
        width: 100%;
        height: max-content;
    }
    .cont-todos-prod-cat{
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 97%;
        height: max-content;
    }
    .cont-produtos-departamento{
        margin-top: 1.5em;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
        width: 97%;
        height: max-content;
    }
    .cont-carrossel{
        width: 97%;
        height: 16em;
    }
    .cont-titulo-dep{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        height: 7em;
    }
    .cont-01-titulodep{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 97%;
        height: 3.1em;
        background-color: #fff;
    }
    .cont-outros-dep{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 30%;
        height: 3.1em;
    }
    .cont-01-outrosdep{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: max-content;
        padding-left: 11px;
        padding-right: 9px;

        border-right: 1px solid black;
        height: 2.3em;
    }
    .titulo-outrosdep{
        font-size: 14px;
        margin: 0px;
        font-family: 'Goldman';
    }
    .icon-outrosdep{
        width: 23px;
        height: 23px;
        margin-right: 0.3em;
    }
    .cont-02-outrosdep{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: max-content;
        padding-left: 9px;
        padding-right: 9px;
        height: 2.3em;
    }
    .cont-nome-departamento{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 22%;
        height: 2.3em;
    }
    .cont-ordenar{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: max-content;
        height: 2.3em;
        margin-right: 0.7em;
    }
    .titulo-ordenar{
        font-size: 11px;
        font-weight: 100;
        font-family: 'Goldman';
        color: #F27400;
        margin: 0px;
        margin-right: 0.1em;
    }
    .titulo-nomeDep{
        font-size: 18px;
        font-family: 'Goldman';
        font-weight: 100;
        margin: 0px;
    }
    .icon-departamento{
        width: 25px;
        height: 25px;
        margin-right: 0.3em;

    }
    .icon-seta{
        width: 10px;
        height: 10px;
    }
    .cont-produtos-dep{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        flex-wrap: wrap;

        margin-top: 2em;
        
        width: 97%;
        height: max-content;
    }
    .cont-filha5-002home{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        margin-top: 3em;

        width: max-content;
        height: 2em;
        margin-top: 1.3em;

        border-bottom: 2px solid #F27400;
    }
    .cont-cat3-dep{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        margin-top: 3em;

        width: max-content;
        height: 2em;
        margin-top: 1.3em;

        border-bottom: 2px solid #F27400;
    }
    .cont-cat2-dep{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        margin-top: 3em;

        width: max-content;
        height: 2em;
        margin-top: 1.3em;

        border-bottom: 2px solid #F27400;
    }
    .cont-cat1-dep{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        margin-top: 3em;

        width: max-content;
        height: 2em;
        margin-top: 1.3em;

        border-bottom: 2px solid #F27400;
    }
    .icon-cat1{
        width: 30px;
        height: 30px; 

        margin-right: 0.5em;
    }
    .icon-cat2{
        width: 25px;
        height: 30px; 

        margin-right: 0.5em;
    }
    .icon-cat3{
        width: 30px;
        height: 30px; 

        margin-right: 0.5em;
    }
    .titulo-cat1{
        font-family: 'Goldman';
        font-size: 18px;
        
        margin: 0px;
    }
    .titulo-cat2{
        font-family: 'Goldman';
        font-size: 18px;
        
        margin: 0px;
    }
    .titulo-cat3{
        font-family: 'Goldman';
        font-size: 18px;
        
        margin: 0px;
    }
    .cont-produtos-cat1{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        flex-wrap: wrap;

        margin-top: 2em;
        
        width: 97%;
        height: max-content;
    }
    .cont-rodapé-dep{
        width: 100%;
        height: max-content;
    }
}