.cont-main-infoprod{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;


    width: 100%;
    height: max-content;

    background-color: #d9d9d9;

    .cont-cabecalho-infoprod{
        width: 100%;
        height: 4.2em;
    }
    .cont-produto-infoprod{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2em;

        border-radius: 20px;
        width: 95%;
        height: 58em;
        margin-bottom: 0.8em;

        background-color: white;
    }
    .cont-dep-infoprod{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        margin-top: 0.8em;
        height: 4em;
        width: 95%;
        border-bottom:2px solid #d9d9d9;
    }
    .cont-filhadep001{
        display: flex;
        flex-direction: row;

        width: 60%;
        height: 2em;
    }
    .departamento-infoprod{
        font-size: 30px;
        font-weight: 100;
        margin: 0px;
        font-family: 'Goldman';
        color: black;
    }
    .nmdep-infoprod{
        font-size: 30px;
        margin: 0px;
        font-weight: 100;
        font-family: 'Goldman';
        color: black;
    }
    .class-infoprod{
        font-size: 30px;
        font-weight: 100;
        margin: 0px;
        font-family: 'Goldman';
        color: black;
    }
    .favoritar-infoprod{
        width: 37px;
        height: 35px;
    }
    .cont-prodvl-infoprod{
        display: flex;
        flex-direction: row;

        width: 100%;
        height: 100%;
    }
    .cont-avaimgs-infoprod{
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 50%;
        height: 94%;

        border-right: 2px solid #d9d9d9;
    }
    .cont-vlcompra-infoprod{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 48%;
        height: 94%;
    }
    .cont-ava-infoprod{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;


        width: 30%;
        height: 2em;

        border: 0.1px solid rebeccapurple;
    }
    .cont-imagem-maior-infoprod{
        width: 50%;
        height: 59%;

        border: 2px solid teal;
    }
    .cont-imgs-infoprod{
        display: flex;
        flex-direction: row;
        width: 59%;
        height: 14%;

        border: 2px solid rebeccapurple;
    }
    .cont-divulgacao-infoprod{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 1em;
        width: 80%;
        height: 8em;
        border-radius: 15px;
        background-image: url('../../../assets/images/fundo-adquira.png');
        background-size: 100%;
    }
    .text-adquira{
        font-family: 'Goldman';
        color: white;
        font-weight: 100;
        font-size: 25px;
        text-align: center;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);

        margin: 0px;
    }
    .cont-nmprod-infoprod{
        flex-wrap: wrap;
        margin-top: 0.9em;
        width: 80%;
        height: 8em;
    }
    .text-nmprod{
        width: 80%;
        font-family: 'Goldman';
        font-size: 23px;
        margin: 0px;
    }
    .cont-fabricante-infoprod{
        width: 80%;
        height: 2.5em;
        margin-top: 0.9em;
    }
    .text-fabricante{
        margin: 0px;        
        font-family: 'Goldman';
        font-weight: 100;
        font-size: 21px;
    }
    .cont-valor-infoprod{
        display: flex;
        flex-direction: column;
        margin-top: 0.9em;
        width: 80%;
        height: 4em;
    }
    .valor-antigo-infoprod{
        font-family: 'Goldman';
        font-size: 21px;
        color: #F27400;
        margin: 0px;
    }
    .text-valor-infoprod{
        font-family: 'Goldman';
        font-size:34px;
        color: #F27400; 
        font-weight: 500;
        margin: 0px;
    }
    .text-mostrando-desconto{
        font-family: 'Goldman';
        font-weight: 100;
        font-size: 18px;
        margin: 0px;
        color: rgb(135, 218, 80);
    }
    .cont-mdesc-infoprod{
        width: 80%;
        height: 2em;
    }
    .cont-botao-comp{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        width: 100%;
        height: 21em;
    }
    .botao-carrinho{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 3.6em;
        background-color: #F27400;
        border: 0px;
        border-radius: 10px;
        margin-bottom: 1em;
        .text-addcarrinho{
            color: white;
            font-family: 'Goldman';
            font-weight: 100;
            font-size: 20px;
            margin: 0%;
        }
        .carrinho-add{
            width: 44px;
            height: 44px;
            margin-right: 0.9em;
        }
    }
    .botao-comprar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 3.6em;
        background-color: #F27400;
        border: 0px;
        border-radius: 10px;
        .text-comprar{
            color: white;
            font-family: 'Goldman';
            font-weight: 100;
            font-size: 21px;
            margin: 0%;
        }
        .carrinho-add{
            width: 44px;
            height: 44px;
            margin-right: 0.9em;
        }
    }
    .text-cont-ava{
        text-align: end;
        margin: 0px;
        font-family: 'Goldman';
        font-weight: 100;
        font-size: 20px;
        margin-bottom: 0.2em;
    }
    .cont-catgerais{
        display: flex;
        flex-direction: column;
        align-items:center;

        background-color: white;
        border-radius: 20px;
        width: 95%;
        height: 34em;
        margin-top: 0.8em;
        margin-bottom: 0.9em;
    }
    .cont-titulo-catgerais{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        width: 95%;
        height: 5.3em;

        border-bottom: 2px solid #d9d9d9;
    }
    .titulo-catgerais{
        font-size: 27px;
        margin: 0px;
        font-weight: 100;
        color: black;
        font-family: 'Goldman';
        margin-left: 0.8em;
    }
    .cont-text-catgerais{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 0.8em;
        width: 95%;
        height: 5em;
    }
    .text-catgerais{
        font-size: 20px;
        font-family: 'Goldman';
        font-weight: 100;
    }
    .cont-caracteristicas{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-evenly;
        width: 90%;
        height: 19em;
    }
    .cont-car01{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        width: 17em;
        height: 17em;
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    }
    .caracteristica-01{
        font-size: 23px;
        font-family: 'Goldman';
        color: black;
        font-weight: 100;
        margin: 0px;
        text-align: center;

        width: 5.8em;
    }
    .img-cat-01{
        width: 7em;
        height: 6em;
    }
    .text-cat-01{
        font-size: 17px;
        font-family: 'Goldman';
        color: black;
        width: 13em;
        height: 3em;
        text-align: center;
        margin: 0px;
    }
    .caracteristica-03{
        font-size: 23px;
        font-family: 'Goldman';
        color: black;
        font-weight: 100;
        margin: 0px;
        text-align: center;
        margin-top: 5px;

        width: 7em;
    }
    .img-cat-03{
        margin-top: -10px;
        width: 8em;
        height: 7em;
    }
    .cont-descricao{
        display: flex;
        flex-direction: column;
        align-items:center;

        background-color: white;
        border-radius: 20px;
        width: 95%;
        height: max-content;
        margin-top: 0.8em;
    }
    .cont-titulo-desc{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        width: 95%;
        height: 5.3em;

        border-bottom: 2px solid #d9d9d9;
    }
    .img-desc{
        margin-left: 0.8em;
        width: 2.5em;
        height: 2.5em;
    }
    .titulo-desc{
        font-size: 27px;
        margin: 0px;
        font-weight: 100;
        color: black;
        font-family: 'Goldman';
        margin-left: 0.3em;
    }
    .cont-text-desc{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 28em;
        margin-top: 0.8em;
        margin-bottom: 1.2em;
    }
    .text-desc{
        font-size: 25px;
        font-family: 'Goldman';
        color: black;
        text-align: start;
        line-height: 39px;
        margin: 0px;
    }
    .cont-infotec{
        display: flex;
        flex-direction: column;
        align-items: center;

        background-color: white;
        border-radius: 20px;
        width: 95%;
        height: 49em;
        margin-top: 0.8em;
    }
    .img-desc{
        margin-left: 0.8em;
        width: 2.3em;
        height: 2.3em;
    }
    .cont-informacoes{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 95%;
        height: 40em;
        margin-top: 10px;
    }
    .paragrafo-informacoes{
        width: 100%;
        font-size: 26px;
        font-family: 'Goldman';
        color: black;
        text-align: center;
        font-weight: 100;
        line-height: 35px;
    }
    .cont-avaliacoes{
        display: flex;
        flex-direction: column;
        align-items: center;

        background-color: white;
        border-radius: 20px;
        width: 95%;
        height: 39em;
        margin-top: 0.8em;
    }
    .titulo-av{
        font-size: 27px;
        margin: 0px;
        font-weight: 100;
        color: black;
        font-family: 'Goldman';
        margin-left: 0.5em;
    }
}