.cont-main-infoprod{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


    width: 100%;
    height: max-content;

    background-color: #d9d9d9;

    .cont-cabecalho-infoprod{
        width: 100%;
        height: 4.2em;
    }
    .cont-imagens{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 40em;
    }
    .cont-produto-infoprod{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2em;

        border-radius: 20px;
        width: 95%;
        height: 58em;
        margin-bottom: 0.8em;

        background-color: white;
    }
    .cont-dep-infoprod{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        margin-top: 0.8em;
        height: 4em;
        width: 95%;
        border-bottom:2px solid #d9d9d9;
    }
    .cont-filhadep001{
        display: flex;
        flex-direction: row;

        width: 60%;
        height: 2em;
    }
    .departamento-infoprod{
        font-size: 30px;
        font-weight: 100;
        margin: 0px;
        font-family: 'Goldman';
        color: black;
    }
    .nmdep-infoprod{
        font-size: 30px;
        margin: 0px;
        font-weight: 100;
        font-family: 'Goldman';
        color: black;
    }
    .class-infoprod{
        font-size: 30px;
        font-weight: 100;
        margin: 0px;
        font-family: 'Goldman';
        color: black;
    }
    .favoritar-infoprod{
        width: 37px;
        height: 35px;
    }
    .cont-prodvl-infoprod{
        display: flex;
        flex-direction: row;

        width: 100%;
        height: 100%;
    }
    .cont-avaimgs-infoprod{
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 50%;
        height: 94%;

        border-right: 2px solid #d9d9d9;
    }
    .cont-vlcompra-infoprod{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 48%;
        height: 94%;
    }
    .cont-ava-infoprod{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;


        width: 30%;
        height: 2em;

        border: 0.1px solid rebeccapurple;
    }
    .cont-imagem-maior-infoprod{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 25em;

        border: 2px solid teal;
    }
    .imagem1-prod{
        width: 400px;
        height: 400px;
    }
    .imagem2-prod{
        width: 160px;
        height: 100%;
    }
    .imagem3-prod{
        width: 160px;
        height: 100%;
    }
    .cont-imgs-infoprod{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 55%;
        height: 20%;

        border: 2px solid rebeccapurple;
    }
    .cont-divulgacao-infoprod{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 1em;
        width: 80%;
        height: 8em;
        border-radius: 15px;
        background-image: url('../../../assets/images/fundo-adquira.png');
        background-size: 100%;
    }
    .text-adquira{
        font-family: 'Goldman';
        color: white;
        font-weight: 100;
        font-size: 25px;
        text-align: center;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);

        margin: 0px;
    }
    .cont-nmprod-infoprod{
        flex-wrap: wrap;
        margin-top: 0.9em;
        width: 80%;
        height: 8em;
    }
    .text-nmprod{
        width: 80%;
        font-family: 'Goldman';
        font-size: 23px;
        margin: 0px;
    }
    .cont-fabricante-infoprod{
        width: 80%;
        height: 2.5em;
        margin-top: 0.9em;
    }
    .text-fabricante{
        margin: 0px;        
        font-family: 'Goldman';
        font-weight: 100;
        font-size: 21px;
    }
    .cont-valor-infoprod{
        display: flex;
        flex-direction: column;
        margin-top: 0.9em;
        width: 80%;
        height: 4em;
    }
    .valor-antigo-infoprod{
        font-family: 'Goldman';
        font-size: 21px;
        color: #F27400;
        margin: 0px;
    }
    .text-valor-infoprod{
        font-family: 'Goldman';
        font-size:34px;
        color: #F27400; 
        font-weight: 500;
        margin: 0px;
    }
    .text-mostrando-desconto{
        font-family: 'Goldman';
        font-weight: 100;
        font-size: 18px;
        margin: 0px;
        color: rgb(135, 218, 80);
    }
    .cont-mdesc-infoprod{
        width: 80%;
        height: 2em;
    }
    .cont-botao-comp{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        width: 100%;
        height: 21em;
    }
    .botao-carrinho{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 3.6em;
        background-color: #F27400;
        border: 0px;
        border-radius: 10px;
        margin-bottom: 1em;
        .text-addcarrinho{
            color: white;
            font-family: 'Goldman';
            font-weight: 100;
            font-size: 20px;
            margin: 0%;
        }
        .carrinho-add{
            width: 44px;
            height: 44px;
            margin-right: 0.9em;
        }
    }
    .botao-comprar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 3.6em;
        background-color: #F27400;
        border: 0px;
        border-radius: 10px;
        .text-comprar{
            color: white;
            font-family: 'Goldman';
            font-weight: 100;
            font-size: 21px;
            margin: 0%;
        }
        .carrinho-add{
            width: 44px;
            height: 44px;
            margin-right: 0.9em;
        }
    }
    .text-cont-ava{
        text-align: end;
        margin: 0px;
        font-family: 'Goldman';
        font-weight: 100;
        font-size: 20px;
        margin-bottom: 0.2em;
    }



    .cont-catgerais{
        display: flex;
        flex-direction: column;
        align-items:center;

        background-color: white;
        border-radius: 20px;
        width: 95%;
        height: 34em;
        margin-top: 0.8em;
        margin-bottom: 0.9em;
    }
    .cont-titulo-catgerais{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        width: 95%;
        height: 5.3em;

        border-bottom: 2px solid #d9d9d9;
    }
    .titulo-catgerais{
        font-size: 27px;
        margin: 0px;
        font-weight: 100;
        color: black;
        font-family: 'Goldman';
        margin-left: 0.8em;
    }
    .cont-text-catgerais{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 0.8em;
        width: 95%;
        height: 5em;
    }
    .text-catgerais{
        font-size: 20px;
        font-family: 'Goldman';
        font-weight: 100;
    }
    .cont-caracteristicas{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-evenly;
        width: 90%;
        height: 19em;
    }
    .cont-car01{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        width: 17em;
        height: 17em;
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    }
    .caracteristica-01{
        font-size: 23px;
        font-family: 'Goldman';
        color: black;
        font-weight: 100;
        margin: 0px;
        text-align: center;

        width: 5.8em;
    }
    .img-cat-01{
        width: 7em;
        height: 6em;
    }
    .text-cat-01{
        font-size: 17px;
        font-family: 'Goldman';
        color: black;
        width: 13em;
        height: 3em;
        text-align: center;
        margin: 0px;
    }
    .caracteristica-03{
        font-size: 23px;
        font-family: 'Goldman';
        color: black;
        font-weight: 100;
        margin: 0px;
        text-align: center;
        margin-top: 5px;

        width: 7em;
    }
    .img-cat-03{
        margin-top: -10px;
        width: 8em;
        height: 7em;
    }



    .cont-descricao{
        display: flex;
        flex-direction: column;
        align-items:center;

        background-color: white;
        border-radius: 20px;
        width: 95%;
        height: max-content;
        margin-top: 0.8em;
        margin-bottom: 0.9em;
    }
    .cont-titulo-desc{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        width: 95%;
        height: 5.3em;

        border-bottom: 2px solid #d9d9d9;
    }
    .img-desc{
        margin-left: 0.8em;
        width: 2.5em;
        height: 2.5em;
    }
    .titulo-desc{
        font-size: 27px;
        margin: 0px;
        font-weight: 100;
        color: black;
        font-family: 'Goldman';
        margin-left: 0.3em;
    }
    .cont-text-desc{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 28em;
        margin-top: 0.8em;
        margin-bottom: 1.2em;
    }
    .text-desc{
        font-size: 25px;
        font-family: 'Goldman';
        color: black;
        text-align: start;
        line-height: 39px;
        margin: 0px;
    }




    .cont-infotec{
        display: flex;
        flex-direction: column;
        align-items: center;

        background-color: white;
        border-radius: 20px;
        width: 95%;
        height: 49em;
        margin-top: 0.8em;
        margin-bottom: 0.9em;
    }
    .img-desc{
        margin-left: 0.8em;
        width: 2.3em;
        height: 2.3em;
    }
    .cont-informacoes{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 95%;
        height: 40em;
        margin-top: 10px;
    }
    .paragrafo-informacoes{
        width: 100%;
        font-size: 26px;
        font-family: 'Goldman';
        color: black;
        text-align: center;
        font-weight: 100;
        line-height: 35px;
    }




    .cont-avaliacoes{
        display: flex;
        flex-direction: column;
        align-items: center;

        background-color: white;
        border-radius: 20px;
        width: 95%;
        height: 50em;
        margin-top: 0.8em;
        margin-bottom: 0.9em;
    }
    .titulo-av{
        font-size: 27px;
        margin: 0px;
        font-weight: 100;
        color: black;
        font-family: 'Goldman';
        margin-left: 0.5em;
    }
    .cont-01-ava{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 24%;
        height: 3em;
    }
    .botao-cliente-avaliar{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 20em;
        height: 3em;
        background-color: #F27400;
        border: 0px;
        border-radius: 14px;
    }
    .text-cliente-avaliar{
        font-size: 20px;
        font-family: 'Goldman';
        color: white;
    }
    .cont-titulo-ava{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        width: 95%;
        height: 5.3em;

        border-bottom: 2px solid #d9d9d9;
    }
    .img-star-ava{
        width: 23px;
        height: 23px;
        margin-right: 0.5em;
    }
    .cont-maior-menor-ava{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 20em;
        
        border-bottom: 2px solid #d9d9d9;
    }
    .cont-maior-menor-ava2{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 20em;
        
        border-bottom: 2px solid #d9d9d9;
    }
    .cont-maior-ava{
        display: flex;
        flex-direction: column;
        width: 95%;
        height: 20em;
    }
    .cont-men-ava{
        display: flex;
        flex-direction: column;
        width: 95%;
        height: 20em;
    }
    .cont-text-maiorav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 3em;

        border-bottom: 2px solid #d9d9d9;
    }
    .text-maior-ava{
        font-family: 'Goldman';
        font-size: 24px;
        font-weight: 100;
        margin-left: 0.8em;
    }
    .cont-melhor-ava{
        display: flex;
        flex-direction: row;
        width: 30%;
        height: 16.6em;
        margin: 0px;
    }
    .cont-filha1-melhorava{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 16.6em;
    }
    .titulo-ava-cliente{
        text-align: left;
        font-family: 'Goldman';
        font-size: 22px;
        font-weight: 100;
        color: #676767;
        margin: 0px;
        margin-bottom: 17px;
        width: 70%;
        height: 2em;
    }
    .titulo-ava-geral{
        text-align: left;
        width: 70%;
        font-family: 'Goldman';
        font-size: 22px;
        font-weight: 100;
        color: #676767;
        margin: 0px;
        margin-bottom: 10px;
    }
    .titulo-ava-desemp{
        text-align: left;
        font-family: 'Goldman';
        font-size: 22px;
        font-weight: 100;
        color: #676767;
        margin: 0px;
        width: 70%;
        margin-bottom: 10px;
    }
    .titulo-ava-atendi{
        text-align: left;
        margin: 0px;
        width: 70%;
        font-family: 'Goldman';
        font-size: 22px;
        font-weight: 100;
        color: #676767;
        margin-bottom: 10px;
    }
    .titulo-ava-sats{
        text-align: left;
        font-family: 'Goldman';
        font-size: 22px;
        font-weight: 100;
        color: #676767;
        margin: 0px;
        width: 70%;
    }
    .cont-filha2-melhorava{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 16.6em;
    }
    .nome-usuario-text{
        font-size: 22px;
        font-family: 'Goldman';
        color: #676767;
        margin: 0px;
        margin-bottom: 23px;
   }
   .cont-op-geral{
        display: flex;
        flex-direction: row;
        width: 50%;
        height: 16.6em;
        margin: 0px;
    }
    .cont-titulo-op-geral{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height:16.6em;
        width: 50%;    
    }
    .titulo-op-geral{
        font-size: 22px;
        font-family: 'Goldman';
        color: #676767;
        font-weight: 100;
        margin-top: 28  px;
    }
    .cont-avalialiacoes{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 16.6em;
    }
    .cont-filha3-melhorava{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 16.6em;
    }
    .cont-filha4-melhorava{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 20%;
        height: 16.6em;
    }




    .cont-outras-op{
        display: flex;
        flex-direction: column;
        align-items: center;

        background-color: white;
        border-radius: 20px;
        width: 95%;
        height: 40em;
        margin-top: 0.8em;
        margin-bottom: 0.9em;
    }
    .cont-titulo-outrasop{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        width: 95%;
        height: 5.3em;

        border-bottom: 2px solid #d9d9d9;
    }
    .cont-vertodos{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        width: 13em;
        height: 5.3em;
    }
    .text-vertodos{
        font-size: 25px;
        font-family: 'Goldman';
        color: #F27400;
    }
    .img-seta{
        width: 26px;
        height: 26px;
        margin-left: 0.5em;
    }
    .cont-cards-outrasop{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        width: 95%;
        height: 33em;

        border: 0.1px solid rebeccapurple;
    }
    .cont-filha1-cards{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 90%;
        height: 29em;

        border: 0.1px solid #F27400;
    }
    .cont-rodape-produto{
        width: 100%;
        height: 30em;

        margin-top: 0.9em;
    }
    .cont-modal{
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.438);
    }
    @media screen and (max-width: 1300px) and (min-width: 1000px) {
        .cont-dep-infoprod{
            height: 3em;
        }
        .cont-filhadep001{
            align-items: center;
        }
        .departamento-infoprod{
            font-size: 16px;
        }
        .nmdep-infoprod{
            font-size: 16px;
        }
        .class-infoprod{
            font-size: 16px;
        }
        .favoritar-infoprod{
            width: 20px;
            height: 20px;
            margin-right: 0.2em;
        }


        .cont-ava-infoprod{        
                width: 50%;
        
                border: 0.1px solid rebeccapurple;
        }
        .cont-produto-infoprod{
            height: 39em;
        }
        .cont-imagem-maior-infoprod{
            height: 38%;
            border: 0px;
        }
        .cont-imgs-infoprod{
            border: 0px;
            width: 59%;
            height: max-content;
        }
        .imagem1-prod{
            width: 180px;
            height: 180px;
            border: none;
        }
        .imagem2-prod{
            width: 80px;
            height: 80px;
        }
        .imagem3-prod{
            width: 80px;
            height: 80px;
        }
        .cont-ava-infoprod{
            width: 51%;
            height: 2.3em;
            border: 0px;
            margin-bottom: 0.9em;
        }
        .text-cont-ava{
            margin-bottom: 0.4em;
            font-size: 15px;
        }
        .cont-divulgacao-infoprod{
            margin-top: 0.5em;
            width: 80%;
            height: 4em;
            border-radius: 13px;
        }
        .text-adquira{
            font-size: 14px;
        }
        .text-nmprod{
            width: 80%;
            font-family: 'Goldman';
            font-size: 16px;
            margin: 0px;
        }
        .cont-nmprod-infoprod{
            flex-wrap: wrap;
            margin-top: 0.9em;
            width: 80%;
            height: max-content;
        }
        .cont-fabricante-infoprod{
            width: 80%;
            height: max-content;
            margin-top: 0.5em;   
        }
        .text-fabricante{
            font-size: 14px;
        }
        .cont-valor-infoprod{
            display: flex;
            flex-direction: column;
            margin-top: 0.9em;
            width: 80%;
            height: max-content;
        }
        .valor-antigo-infoprod{
            font-size: 12px;
        }
        .text-valor-infoprod{
           font-size: 22px; 
        }
        .text-mostrando-desconto{
            font-size: 13px;
        }
        .cont-botao-comp{
            height: 10em;
        }
        .cont-prodvl-infoprod{
            display: flex;
            flex-direction: row;
    
            width: 100%;
            height: 100%;
        }
        .cont-produto-infoprod{
            height: 32em;
        }
        .botao-carrinho{
            width: 50%;
            height: 2.9em;
            background-color: #F27400;
            border: 0px;
            border-radius: 10px;
            margin-bottom: 1em;
            .text-addcarrinho{
                color: white;
                font-family: 'Goldman';
                font-weight: 100;
                font-size: 12px;
                margin: 0%;
            }
            .carrinho-add{
                width: 30px;
                height: 30px;
                margin-right: 0.3em;
            }
        }
        .botao-comprar{
            width: 50%;
            height: 2.9em;
            background-color: #F27400;
            border: 0px;
            border-radius: 10px;
            .text-comprar{
                color: white;
                font-family: 'Goldman';
                font-weight: 100;
                font-size: 12px;
                margin: 0%;
            }
            .carrinho-add{
                width: 30px;
                height: 30px;
                margin-right: 0.3em;
            }
        }
        .cont-vlcompra-infoprod{
            border-left: 2px solid #d9d9d9;
        }
        .cont-avaimgs-infoprod{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;
            height: 69%;
    
            border-right: 0px;
        }
        .cont-imagem-maior-infoprod{
            height: 12em;
        }
        .cont-titulo-catgerais{
            width: 95%;
            height: 3.3em;
        }
        .titulo-catgerais{
            font-size: 17px;
            margin-left: 0.5em;
        }
        .cont-text-catgerais{
            margin-top: 0.5em;
            width: 95%;
            height: 3.2em;
        }
        .text-catgerais{
            font-size: 15px;
        }
        .cont-caracteristicas{
            width: 90%;
            height: 15em;
        }
        .cont-car01{    
            width: 12em;
            height: 14em;
            box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
        }
        .caracteristica-01{
            font-size: 14px;
        }
        .caracteristica-03{
            font-size: 14px;
        }
        .img-cat-01{
            width: 5em;
            height: 5em;  
        }
        .img-cat-03{
            width: 5em;
            height: 5em;  
        }
        .text-cat-01{
            font-size: 13px;
        }
        .cont-catgerais{
            height: 27em;
        }
        .cont-descricao{

        }
        .cont-titulo-desc{
            width: 95%;
            height: 3.6em;
        }
        .img-desc{
            margin-left: 0.5em;
            width: 1.4em;
            height: 1.4em;
        }
        .titulo-desc{
            font-size: 17px;
        }
        .cont-text-desc{
            width: 90%;
            height: 13em;
            margin-top: 0.5em;
            margin-bottom: 0.7em;
        }
        .text-desc{
            font-size: 17px;
        }
        .img-info{
            width: 30px;
            height: 28px;
            margin-left: 0.4em;
        }
        .cont-informacoes{
            height: 12em;
        }
        .paragrafo-informacoes{
            font-size: 18px;
        }
        .cont-infotec{
            height: max-content;
        }
        .cont-titulo-ava{
            height: 3.6em;
        }
        .titulo-av{
            font-size:  16px;
        }
        .cont-01-ava{
            width: 30%;
        }
        .text-maior-ava{
            font-size: 15px;
        }
        .cont-text-maiorav{
            height: 1.9em;
        }
        .cont-maior-menor-ava{
            height: 13em;
        }
        .cont-maior-menor-ava2{
            height: 13em;
            border: 0px;
        }
        .cont-filha1-melhorava{
            height: 13em;
        }
        .titulo-ava-cliente{
            font-size: 15px;
        }
        .titulo-ava-desemp{
            font-size: 15px;
        }
        .titulo-ava-geral{
            font-size: 15px;
        }
        .titulo-ava-atendi{
            font-size: 15px;
        }
        .titulo-ava-sats{
            font-size: 15px;
        }
        .cont-filha2-melhorava{
            height: 13em;
        }
        .titulo-op-geral{
            font-size: 15px;
        }
        .cont-avalialiacoes{
            height: 13em;
        }
        .cont-filha4-melhorava{
            height: 13em;
            width: max-content;
        }
        .cont-op-geral{
            height: 13em;
        }
        .cont-melhor-ava{
            height: 13em;
        }
        .cont-maior-ava{
            height: 15.2em;
        }
        .cont-avaliacoes{
            height: max-content;
        }
        .cont-men-ava{
            height: 15.2em;
            margin-bottom: 0.7em;
            border-bottom: 0px;
        }
    }
}