.cont-main-etapa3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: max-content;

    background-color: #d9d9d9;
    .cont-cabecalho-etp3{
        width: 100%;
        height: 4em;
    }
    .cont-01-etp3{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 90%;
        height: 8em;
    }
    .icons{
        width: 50px;
        height: 50px;
    }
    .linha{
        width: 8em;
        border: 1px solid #F27400;
    }
    .cont-02-etp3{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        height: 35em;
    }
    .cont-filha1-02{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 70%;
        height: 100%;

        border: 0.1px solid pink;
    }
    .cont-infoped-filha1{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 55%;
        
        background-color: #fff;
    }
    .cont-titulo-infoped{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 95%;
        height: 3.4em;

        border-bottom: 1px solid #d9d9d9;
    }
    .cont-filha2-02{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 24%;
        height: 100%;

        background-color: #fff;
        .cont-01-filha2{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
            width: 90%;
            height: 33%;
        }
        .titulo-resumo{
            font-size: 20px;
            font-family: 'Goldman';  
            margin: 0px;
            font-weight: 100; 
        }
        .valor-pagar{
            font-size: 10px;
            margin: 0px;
            font-family: 'Goldman';
            font-weight: 100;
        }
        .linhas{
            width: 95%;
            height: 1px;
            margin: 0px;

            border-bottom:0.5px solid #d9d9d9;
        }
        .text-frete{
            font-size: 10px;
            font-family: 'Goldman';
            font-weight: 100;
            margin: 0px;
        }
        .cont-subtotal{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            height: 1.8em;

            background-color: #d9d9d9;
        }
        .titulo-subtotal{
            font-size: 12px;
            font-family: 'Goldman';
            font-weight: 100;
            margin: 0px;
            margin-left: 5px;
        }
        .cont-02-filha2{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            width: 90%;
            height: 17%;
        }
        .botao-finalizar{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 12em;
            height:  3em;
            border: 0px;
            border-radius: 9px;

            background-color: #F27400;

            transition: 0.3s;
            font-size: 12px;
            font-family: 'Goldman';
            font-weight: 100;
            margin: 0px;
            letter-spacing: 0.2px;
            color: #fff;

            cursor:pointer;
        }
        .botao-finalizar:hover{
            background-color: #fff;
            border: 0.2px solid #F27400;
            color: #F27400;
        }
        .botao-voltar{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 12em;
            height:  3em;
            border: 0px;
            border: 0.2px solid black;
            border-radius: 9px;

            background-color: #fff;

            transition: 0.3s;
            font-size: 12px;
            font-family: 'Goldman';
            font-weight: 100;
            margin: 0px;
            letter-spacing: 0.2px;
            color: black;

            cursor:pointer;
        }
        .botao-voltar:hover{
            background-color: #ffa8a8;
        }
    }
    .icon-infoped{
        width: 38px;
        height: 38px;
        margin-right: 0.8em;
    }
    .titulo-infoped{
        font-family: 'Goldman';
        font-size: 22px;
        font-weight: 100;
    }
    .cont-dados-endereco{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 14em;

        margin-top: 0.7em;
    }
    .cont-filha1-dados{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        width: 50%;
        height:  max-content;
    }
    .cont-filha2-endereco{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 14em;

        background-color: #fff;
    }
    .cont-titulo-dados{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
        height: max-content;
        border-bottom: 1.5px solid #d9d9d9;
    }
    .titulo-dados{
        font-size: 18px;
        font-family: 'Goldman';
        color: black;
        font-weight: 100;
        margin: 0px;
    }
    .text-dados{
        text-align: left;
        font-size: 13px;
        margin: 0px;
    }
    .cont-dados-user{
        width: 90%;
        height: 9.7em;

        margin-top: 0.8em;

        border-radius: 14px;

        background-color: #d9d9d9;
    }
    .titulo-endereco{
        font-size: 18px;
        font-family: 'Goldman';
        color: black;
        font-weight: 100;
        margin: 0px;
    }
    .cont-titulo-endereco{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
        height: max-content;
        border-bottom: 1.5px solid #d9d9d9;
    }
    .text-endereco{
        text-align: left;
        font-size: 13px;
        margin: 0px;
    }



    .cont-listaprod-filha1{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 38%;
    
        background-color: #fff;
    }
    .cont-infoprod-pedido{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 12em;

        border: 0.1px solid #F27400;
        .img-produto{
            width: 8em;
            height: 9em;

            border: 0.1px solid rebeccapurple;
        }
        .nome-produto{
            width: 15em;
            height: 4em;

            border: 0.1px solid firebrick;
        }
        .cont-qtd-produto{
            display: flex;
            flex-direction: column;
            align-items: center;

            width: 5em;
            height: 5em;

            border: 0.1px solid navy;
        }
        .cont-valor-produto{
            width: 7em;
            height: 2.8em;

            border: 0.1px solid magenta;
        }
    }
}