.pagina-carrinho{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    
    background-color: #d9d9d9;

    .Componentes-carrinho{
        width: 100%;
        height: max-content;
    }

    .divisão-responsiva{
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        .cabecalho-usuario-main{
            width: 20%;
            height: max-content;
        }

        .titulo-carrinho{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        
            .carrinho{
                display: flex;
                flex-direction: row;
                align-items: center;
    
                margin-top: 2em;
                margin-left: 2em;
    
                img{
                    width: 3em;
                    height: 2em;
    
                    margin-right: 15px;
                }
                h1{
                    font-size: 1.7em;
                }
    
            }
        
            .Informações-Carrinho{
                display: flex;
                flex-direction: row;
                justify-content: center;
                
                .itens-carrinho{
                    margin-right: 2em;
                    margin-left: 2em;
    
                    background-color: #fff;
                }  
    
                .Resumo-carrinho{
                    display: flex;
                    flex-direction: column;
                
                    width: 13em;
    
                    padding-left: 1.3em;
                    background-color: #fff;
                    
                    h1{
                        font-size: 2em;
                        font-weight: normal;
                    }
                    p{
                        font-size: 1.1em;
    
                        background-color: #d9d9d9;
    
                        border: none;
                        width: 9em;
    
                        padding: 13px;
                        
                    }
                    button{
                        font-size: 1.1em;
    
                        color: #fff;
                        background-color: #f27400;
    
                        border: none;
                        width: 10.5em;
    
                        padding: 13px;
                        margin-bottom: 1em;
                    }
                    button:hover{
                        transform: scale(1.02);
                    }
                }
            }
    
        }
    }
    
}



