.pagina-carrinho{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    
    background-color: #d9d9d9;

    .Componentes-carrinho{
        width: 100%;
        height: max-content;
    }

    .divisão-responsiva{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        
        .cabecalho-usuario-main{
            width: 20%;
            height: max-content;
        }
        
        .img-carrinho-icon{
            width: 3em;
            height: 2em;
            
            margin-right: 15px;
        }
        .titulo-do-carrinho{
            font-family: 'Goldman';
            font-size: 1.7em;
            font-weight: 100;
            margin: 0px;
        }
        .carrinho{
            display: flex;
            flex-direction: row;
            align-items: center;

            margin-top: 2em;
            margin-left: 2em;

            
        }

        .cont-valor-total{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;   
            width: 90%;
            height: 3em;
            background-color: #d9d9d9;
            margin-bottom: 0.5em;
            p{
                font-size: 0.9em;
                font-family: 'Goldman';
                margin: 0px;
                border: none;
                
            }
        }
        .Informações-Carrinho{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            
        }  
        .itens-carrinho{
            margin-right: 2em;
            margin-left: 2em;
            
        }
        .titulo-carrinho{
            height: max-content;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding-top: 1em;
        
        
                .Resumo-carrinho{
                    display: flex;
                    flex-direction: column;
                
                    width: 12em;
    
                    padding-left: 1.3em;
                    background-color: #fff;
                    
                    h1{
                        font-size: 2em;
                        font-weight: normal;
                    }
                    button{
                        font-size: 1.1em;
    
                        color: #fff;
                        background-color: #f27400;
    
                        border: none;
                        width: 10.5em;
    
                        padding: 13px;
                        margin-bottom: 1em;
                    }
                    button:hover{
                        transform: scale(1.02);
                    }
            }
    
        }
    }

    @media screen and (max-width: 1300px) and (min-width: 1000px) {
        .titulo-carrinho{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            height: 92vh;
            
            .itens-carrinho{
                width: 35em;
                height: max-content;

                margin: 0px;
            }  
            .Informações-Carrinho{
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: center;
                
                
                .Resumo-carrinho{
                    display: flex;
                    flex-direction: column;
                
                    width: 12.8em;
    
                    padding-left: 1.3em;
                    background-color: #fff;
                    
                    h1{
                        font-size: 1.8em;
                        margin: 0px;
                        margin-top: 0.6em;
                        font-family: 'Goldman';
                        font-weight: 100;
                        margin-bottom: 0.7em;
                    }
                    button{
                        font-size: 0.9em;
                        border-radius: 8px;
    
                        color: #fff;
                        background-color: #f27400;
                        font-family: 'Goldman';
    
                        border: none;
                        width: 13em;
    
                        padding: 13px;
                        margin-bottom: 1em;
                        cursor: pointer;
                    }
                    button:hover{
                        transform: scale(1.02);
                    }
                }
            }
            .img-carrinho-icon{
                width: 49px;
                height: 40px;
        
                margin-right: 11px;
            }
            .carrinho{
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 30%;
                height: max-content;
    
                margin-top: 0em;
                margin-left: 0em;
                margin-bottom: 1em;

                border-bottom: 0.1px solid #f27400;
            }
            .Informações-Carrinho{
                width: 97%;
                justify-content: space-between;
            }
            .carrinho{
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 97%;

                border-bottom: 0px;
                margin: 0px;
                margin-top: 16px;
                margin-bottom: 32px;
            }
        }
    }
    
}



