.cont-main-estoque{
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100vh;

    background-color: #e4e4e4;

    .cont-cabecalho-estoque{
        width: 20em;
        height: 100%;
    }
    .cont-001-estoque{
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 76em;
        height: 100%;
    }
    .cont-titulo-busca{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1.5em;
        margin-bottom: 2em;

        width: 54em;
        height: 3em;
    }
    .cont-titulo-estoque{
        display: flex;
        flex-direction: row;
        align-items: center;

        width: 18.5em;
        height: 3em;
        border-bottom: 2px solid #F27400;
    }
    .icon-estoque{
        width: 45px;
        height: 45px;

        margin-right: 0.5em;
    }
    .titulo-estoque{
        font-family: 'Goldman';
        font-size: 24px;
        font-weight: 100;
        margin: 0px;
    }
    
    .cont-busca-estoque{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .input-pesquisa-estoque{
        padding-left: 10px;
        width: 22em;
        height: 2.5em;
        margin-left: 1em;
        margin-right: -10px;

        border-radius: 8px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border: none;
        background-color: #ffffff;
    }
    textarea:focus, input:focus, select:focus {
        box-shadow: 0 0 0 0;
        border: 0 none;
        outline: 0;
    } 

    input::placeholder{
        color: black;
        font-family:'Goldman';
        font-size: 20px;
    }

    .botao-pesquisa-estoque{
        height: 2.5em;
        width: 4em;

        border-radius: 8px;
        border: none;

        background-color: #F27400;

        cursor: pointer;

        transition: 0.3s;
    }
    .botao-pesquisa-estoque:hover{    
        background-color: #ffffff;
        border: 0.1px solid black;
    }
    .cont-info-produtos{
        display: flex;
        flex-direction: row;
        align-items: center;

        width: 70em;
        height: 2.8em;

        margin-bottom: 2em;

        background-color: #ffffff;
    }
    .info-id-produto{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        font-family: 'Goldman';
        font-weight: 100;
        font-size: 19px;
        margin: 0px;

        width: 7em;
        height: 1.6em;
        border-right: 0.2px solid black;
    }
    .info-foto-produto{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        font-family: 'Goldman';
        font-weight: 100;
        font-size: 19px;
        margin: 0px;

        width: 7em;
        height: 1.6em;
        border-right: 0.2px solid black;
    }
    .info-produto-estoque{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        font-family: 'Goldman';
        font-weight: 100;
        font-size: 19px;
        margin: 0px;

        width: 9em;
        height: 1.6em;
        border-right: 0.2px solid black;
    }
    .info-qtd-produto{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        font-family: 'Goldman';
        font-weight: 100;
        font-size: 19px;
        margin: 0px;

        width: 9em;
        height: 1.6em;
        border-right: 0.2px solid black;
    }
    .info-avaliacao-produto{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        font-family: 'Goldman';
        font-weight: 100;
        font-size: 19px;
        margin: 0px;

        width: 9em;
        height: 1.6em;
        border-right: 0.2px solid black;
    }
    .info-preco-produto{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        font-family: 'Goldman';
        font-weight: 100;
        font-size: 19px;
        margin: 0px;

        width: 9em;
        height: 1.6em;
        border-right: 0.2px solid black;
    }
    .info-categorias-produto{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        font-family: 'Goldman';
        font-weight: 100;
        font-size: 19px;
        margin: 0px;

        width: 9em;
        height: 1.6em;
    }
    .cont-produtos-estoque{
        display: flex;
        flex-direction: row;
        align-items: center;

        width: 70em;
        height: 40em;
    }

    table{

        margin-left: 24em;

        thead{
            th{
                
                font-family: 'Goldman';
                font-size: 1em;
                font-weight: normal;

                align-items: center;
                height: 2em;

                background-color: #ffffff;

                padding: 0 1em;
            }
        }

        tbody{

            td{
                font-family: 'Goldman';
                font-weight: normal;

                align-items: center;
                text-align: center;
                height: 2em;

                background-color: #ffffff;
                
                img{
                    height: 1.5em;
                    padding: 0px 5px;
                }
            }
        }
    }
}