.sct-2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;

.align-1{
    display:flex;
    justify-content: center;
    align-items: center;
}
.cont-1{
    display:flex;
    justify-content: center;
    align-items: center;
}

}   