* {
    font-family: 'Goldman';
}

.fundo {
    background-color: #D9D9D9;
}

.f2 {
    background-color: #ffffff;

    position: relative;
    left: 30em;
    top: 1em;

    height: 60em;
    width: 80em;

    h1 {
        color: #F27400;
        font-size: 2em;
        position: relative;
        top: 2em;
        left: 11em;
    }

    p {
        margin-left: 4;
    }

    hr {
        margin-top: 1em;
        width: 76em;
    }

    h2 {
        position: relative;
        top: 3em;
        left: 5em;
    }

    p {
        position: relative;
        top: 2em;
        left: 40em;
    }


    input {
        position: relative;
        bottom: .3em;
        left: 68em;


        background-color: transparent;
        color: #F27400;
        border: none;
    }
}

.div1{
    display: flex;
    flex-direction: row;
}

.divp{
    display: flex;
    flex-direction: column;
    width: 3-em;
}


.divb {
    position: relative;
    top: 3em;
    left: 58em;

    display: flex;
    justify-content: center;
    align-items: center;
   
    button{
    
        height: 3em;
        width: 19em;
        border-radius: .5em;
        border-color: #F27400;

        color: #F27400;
        background-color: transparent;

        font-size: 1em;
    }
    

}

.button2 {
    position: relative;
    top: 7em;
    left: 38em;

    height: 4em;
    width: 40em;

    display: flex;
    justify-content: start;
    align-items: center;

    border-radius: 0;
    border-color: #F27400;

    color: #F27400;
    background-color: transparent;

    font-size: 1em;

}

.Seta {
    position: relative;
    top: 4em;
    left: 75em;
}