.fundo-rodape{
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    width: 100%;
    height: 28em;
    
    .componentes-1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    
    .icons-rodape{
        cursor: pointer;
    }
    
    .titulo-principal{
    
    }
    .titulo-construa{
        font-size: 25px;
        font-family: 'Goldman';
        margin: 0px;
        width: 6.4em;

        color: #f27400;
    }
    .cont-titulo-construa{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        width: 30%;
        height: 6em;
        margin: 0px;


    }
    .espacamento-coluna{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 50%;
        height: 9em;
    }

    .coluna01{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 10.2em;
        height: 6.2em;

    }
    
    .titulo-desenv{
        font-size: 15px;
        font-family:'Goldman' ;

        color: #f27400;

        margin: 0px;

        font-weight: normal;
    }
    .link-desenv{
        display: flex;
        flex-direction: column;
        
        font-family: 'Goldman';
        font-weight: normal;
        font-size: 12px;
        color: #fff;
        margin: 0px;

        text-decoration: none;
        line-height: 1.6em;

        transition: 0.2s;
        cursor: pointer;
    }

    .coluna02{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 10.2em;
        height: 6.2em;
        justify-content: space-around;

    }
    .coluna03{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 10.2em;
        height: 6.2em;
        justify-content: space-around;

    }
    .coluna04{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 10.2em;
        height: 6.2em;
        justify-content: space-around;

    }
    .coluna05{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 10.2em;
        height: 6.2em;
        justify-content: space-around;

    }
    .titulo-empresa{
        font-size: 15px;
        font-family:'Goldman' ;

        color: #f27400;

        margin: 0px;

        font-weight: normal;
    }
    .coluna{
        margin-top: 3.5em;
        margin-right: 5em;
    
    
    
        p{
            font-family: 'Goldman';
            font-weight: normal;
            font-size: 23px;
            line-height: 13px;
    
            color: #fff;
    
            margin-top: 17px;
        }
    
        a:hover{
            font-size: 25px;
            color: rgb(187, 187, 187);
        }
    }
    
    .componentes-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between  ;
        width: 100%;
        height: 9em;
    
    }   
    .linha-hr{
       height: 5px;
       width: 106em;

       margin-top:20px ;
        margin-left: 0em;

       background-color: #f27400;
       border: #f27400;
    }
    
    .espacamento-imgs{
        width: 95%;
        height: 3em;

        border-bottom: 0.1px solid #f27400;
    }
    .icons-rodape{
        width: 2em;
        height: 2em;
    }
    .cont-icons{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 15%;
        height: 3em;
    }
    .cont-icons-pagamento{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 15%;
        height: 3em;
    }
    .cont-logo-final{
        width: 30%;
        height: max-content;
    }
    .cont-botao-logo{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        height: 4em;
    }
    .componentes-3{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
        margin-top: 1.5em;
        margin-left: 6em;
    
    }
    .botao-voltar-inicio{
        background-color: #f27400;
        width: 9em;
        height: 3em;
        border-radius: 12px;
        border: 0px;
        color: #fff;
    }
    .botão{
        margin-right: 12em;
        button{
    
            font-family: 'Goldman';
            font-size: 1.5em;
    
            background-color: #f27400;
            color: #fff;
    
            border: none;
            border-radius: 10px;
    
            padding: 15px 20px;
            cursor: pointer;
            transition: 0.2s;
        }
    
        button:hover{
            background-color: #1e1e1e;
            border: 0.2px solid #f27400;
            color: #f27400;
        }
    }
    @media screen and (max-width: 1500px) and (min-width:1000px) {
        
        .espacamento-coluna{
            display: flex;
            flex-direction: row;

            width: 100%;
        }
        .titulo-principal{
            font-size: none;
        }
        .coluna{
            margin: 0px;
        }
        .linha-hr{
            width: 6em;
        }
        .componentes-1{
            width: 100%;
        }
    }
}
@media screen and (max-width: 1500px) and (min-width:1000px) {
    .fundo-rodape{
        width: 100%;
        height: 20em;
    }
}