.fundo-rodape{
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    height: 30em;
}

.componentes-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.icons-rodape{
    cursor: pointer;
}

.titulo-principal{

    h1{
        font-size: 50px;
        font-family: 'Goldman';

        width: 6em;
        margin: 0px;

        color: #f27400;
    }
}

.espacamento-coluna{
    display: flex;
    flex-direction: row;
}

.coluna{
    margin-top: 3.5em;
    margin-right: 5em;

    h2{
        font-size: 25px;
        font-family:'Goldman' ;

        color: #f27400;
        margin-bottom:4px ;

        font-weight: normal;
    }

    a{
        display: flex;
        flex-direction: column;
        
        font-family: 'Goldman';
        font-weight: normal;
        font-size: 23px;
        color: #fff;

        text-decoration: none;
        line-height: 1.6em;

    }

    p{
        font-family: 'Goldman';
        font-weight: normal;
        font-size: 23px;
        line-height: 13px;

        color: #fff;

        margin-top: 17px;
    }

    a:hover{
        transform: scale(1.1);
    }
}

.componentes-2{
    margin-top: 0.3em;
    margin-left: 7em;

    hr{
       height: 5px;
       width: 106em;

       margin-top:20px ;
        margin-left: 0em;

       background-color: #f27400;
       border: #f27400;
    }
}

.espacamento-imgs{
    img{
        height: 3em;
        padding-right: 3.5em;
    }
}

.componentes-3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 1.5em;
    margin-left: 6em;

}

.botão{
    margin-right: 12em;
    button{

        font-family: 'Goldman';
        font-size: 1.5em;

        background-color: #f27400;
        color: #fff;

        border: none;
        border-radius: 10px;

        padding: 15px 20px;
        cursor: pointer;
        transition: 0.2s;
    }

    button:hover{
        background-color: #1e1e1e;
        border: 0.2px solid #f27400;
        color: #f27400;
    }
}