.fundo-tela-login{

    background-image: url(../../../assets/images/login-I.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -70px;

    height: 100vh;
    .bloco-informações{
        display: flex;
        flex-direction: column;
        align-items: center;

        background-color: #fff;
        border-radius: 50px;

        width: 55em;
        margin-top: 1.5em;
        margin-left: 58em;
        
        h1{
            font-family: 'Goldman';
            font-weight: normal;
            font-size: 3.5em;

            color: #852E8A;
        }

        .input-login{

            input{

                background-image: url('../../../assets/images/user 15.svg');
                background-repeat: no-repeat;
                background-position: 12px;

                outline: none;

                border: 3px solid #FF6F86;
                border-radius: 25px;

                font-family: 'Goldman';
                font-size: 1.8em;

                padding: 1em 2.2em;

            }

            ::-webkit-input-placeholder { 
                font-size:1.3em;
                text-align: center;

                color: #852E8A;
            }
        }

        .input-login-2{

            margin-top: 3em;
            input{

                background-image: url('../../../assets/images/cadeado 10.png');
                background-repeat: no-repeat;
                background-position: 12px;

                outline: none;

                border: 3px solid #FF6F86;
                border-radius: 25px;

                font-family: 'Goldman';
                font-size: 1.8em;

                padding: 1em 2.2em;

            }

            ::-webkit-input-placeholder { 
                font-size:1.3em;
                text-align: center;

                color: #852E8A;
            }
        }


        .input-login-3{
            margin-top: 3em;
            input{

                background-image: url('../../../assets/images/email 10.png');
                background-repeat: no-repeat;
                background-size: 1.8em;
                background-position: 12px;

                outline: none;

                border: 3px solid #FF6F86;
                border-radius: 25px;

                font-family: 'Goldman';
                font-size: 1.8em;

                padding: 1em 2.2em;

            }

            ::-webkit-input-placeholder { 
                font-size:1.3em;
                text-align: center;

                color: #852E8A;
            }
        }


        .botao-login{
            margin-top: 3em;

            button{
                padding: 0.5em 6.1em;

                border-radius: 20px;
                border: #FF6F86;

                font-family: 'Goldman';
                font-size: 2.5em;

                background-color: #FF6F86;
                color: #852E8A;
            }

            button:hover{
                transform: scale(1.1);
            }
        }

        .texto-final-login{
            
                font-family: 'Goldman';
                font-size: 1.8em;

                color: #852E8A;
                width: 15em;

                text-align: center;

             .btt-1{

                color:#0000ff;
                
             }
        }
    }
}