.fundo-tela-login{
    display: flex;
    flex-direction: column;

    background-image: url(../../../assets/images/login-I.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -70px;

    height: 100vh;
    .cont-caecalho-login1{
        width: 100%;
        height: 6em;
    }
    .cont-02-login1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
    }
    .bloco-informações{
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-right: 3em;

        background: rgba(255, 255, 255, 0.85);
        border-radius: 50px;

        width: 42em;
        
        h1{
            font-family: 'Goldman';
            font-weight: normal;
            font-size: 3.5em;

            color: #852E8A;
        }

        .input-login{
            display: flex;
            flex-direction: row;
            border: 3px solid #FF6F86;
            border-radius: 20px;
            background-color: #fff;

            width: 34em;
            height: 4.5em;
            input{

                outline: none;

                border: none;

                font-family: 'Goldman';
                font-size: 1.8em;

            }

            ::-webkit-input-placeholder { 
                font-size:1.3em;
                text-align: center;

                color: #852E8A;
            }
        }
        .logo-login-user{
            margin-left: 0.9em;
        }

        .logo-cad-user{
            width: 40px;
            height: 40px;
            margin-left: 0.9em;
        }
        .input-login-2{
            margin-top: 1em;
            display: flex;
            flex-direction: row;
            align-items: center;
            border: 3px solid #FF6F86;
            border-radius: 20px;
            background-color: #fff;

            width: 34em;
            height: 4.5em;
            input{
                border: 0px;
                outline: none;

                font-family: 'Goldman';
                font-size: 1.8em;

            }

            ::-webkit-input-placeholder { 
                font-size:1.3em;
                text-align: center;

                color: #852E8A;
            }
        }


        .input-login-3{
            margin-top: 3em;
            input{

                background-image: url('../../../assets/images/email 10.png');
                background-repeat: no-repeat;
                background-size: 1.8em;
                background-position: 12px;

                outline: none;

                border: 3px solid #FF6F86;
                border-radius: 25px;

                font-family: 'Goldman';
                font-size: 1.8em;
                width: 19em;
                height: 2.6em;
                color: #550255;

            }

            ::-webkit-input-placeholder { 
                font-size:1.3em;
                text-align: center;

                color: #852E8A;
            }
        }


        .botao-login{
            margin-top: 1em;

            button{
                width: 14em;
                height: 2.1em;

                border-radius: 20px;
                border: #FF6F86;

                font-family: 'Goldman';
                font-size: 2.5em;

                background-color: #FF6F86;
                color: #fff;

                transition: 0.3s;
                cursor: pointer;
            }

            button:hover{
                background: rgba(255, 255, 255, 0.30);
                border: 0.5px solid #FF6F86;
                color: #FF6F86;
            }
        }

        .texto-final-login{
            
                p{ font-family: 'Goldman';
                font-size: 1em;

                    color: #852E8A;
                    width: 15em;

                    text-align: center;
                }
        
                
            }
        }
        .user-invalido{
            font-size: 1em;
            color:#ff0000;

            margin: 0px;
        }
}