.cabecalho2resp{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;

    margin: 0px;
    border: 0px;

    width: 100%;
    height: 4em;

    .cont-logo{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
    
        padding: 0px;
    
        margin-left: 2em;
    
        width: 14em;
        height: 2em;
    }

    .cont-login{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        width: 3em;
        height: 3em;

        margin-right: 10px;
    }

    .icon-user{
        width: 25px;
        height: 25px;
    }

    .text-user{
        color: #fff;
        text-align: center;

        font-family: 'Goldman';
    }
}
