.fundo1{
    background-color: #d4d4d4;
    height: 100vh;

    
}

.f2{
    background-color: #ffffff;
    height: 17em;
    width: 70em;

    position: relative;
    top: 10em;
    left: 5em;
    
   
    h1{
        font-size: 1.7em;
        position: relative;
        top: 1em;
        left: 3em;
    }

    label{
        display: flex;
        flex-direction: column;
        
        font-size: 1.2em;
        
        position: relative;
        top: 4em;
        left: 5em;

    
    }
}
.btn1{
        border: none;
        background-color: transparent;
        color: #000;

        font-size: 1.2em;

        position: relative;
        top: 5em;
        left: 45em;    
}

.btn2{
    border: none;
    background-color: transparent;
    color: #f27400;

    font-size: 1.2em;

    position: relative;
    top: 5em;
    left: 45em;    
}
.produto{
    background-color: #ffffff;
    height: 30em;
    width: 70em;

    position: relative;
    top: 13em;
    left: 5em;
    
   
    h1{
        font-size: 1.7em;
        position: relative;
        top: .1em;
        left: 3em;
    }

    button{
        height: 2.5em;
        
        border-radius: .5em;
        background-color: transparent;
        font-size: 1.5em;
        
        position: relative;
        top: 15em;
        right: 2em;
    }
}

.resumo{
    height: 30em;
    width: 30em;
    background-color: #ffffff;
   

    position: relative;
    bottom: 41.2em;
    left: 84em;

    h1{
        font-size: 3em;
        display: flex;
        
        align-items: center;
    }
    
.button1{
        background-color: #F27400;
        color: #ffffff;
        border-radius: .4em;
        border: none;

        font-size: 2em;

        height: 2em;

        margin: 1em;

        display: flex;
        justify-content: center;
       
}

.button2{
    background-color: #F27400;
    color: #ffffff;
    border-radius: .4em;
    border: none;

    font-size: 2em;

    height: 2em;
    width: 11.8em;

    margin: 1em;
   
}
   
} 

