.Bloco-etapa1{
    background-color:#d9d9d9;
    height: 100%;

    .divisão-etapa1{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        margin-top: 3em;

        .divisão-informações-produto-etp1{
            display: flex;
            flex-direction: column;

            .bloco-endereco-etp1{
                background-color: #fff;
                width: 75em;

                .titulo-end-etp1{
                    display: flex;
                    flex-direction: row;

                    margin: 2em 2em;

                    img{
                        width: 5.2em;
                    }
                    h1{
                        font-size: 1.9em;
                        font-weight: 450;
                    }
                }

                .informações-end-etp1{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: flex-end;

                    .end-etp1{
                        line-height: 25px;

                        h2{
                            font-weight: 400;
                            font-size: 1.5em;
                        }
                    }

                    .edit-etp1{
                        margin-bottom: 1.2em;

                        span{
                            font-size: 1.3em;
                            text-decoration: underline;

                            cursor: pointer;
                        }
                    }
                }
            }

            .produto-etp1{
                background-color: #fff;

                margin-top: 2.5em;

                hr{
                    width: 70em;
                }
                .titulo2-etp1{
                    display: flex;
                    flex-direction: row;

                    margin: 2em 2em;

                    img{
                        width: 5.2em;
                        margin-right: 1em;
                    }
                    h1{
                        font-size: 1.9em;
                        font-weight: 450;
                    }
                }

                .img-desc-produto-etp1{
                    display: flex;
                    flex-direction: row;

                    margin: 4em;

                    img{
                        border: 1px solid black;

                        height: 10em;
                        width: 10em;
                    }
                    p{
                        border: 1px solid black;
                        font-size: 1.5em;
                        margin-left: 1em;

                        max-width: 20em ;
                    }
                }

                .cupom-etp1{
                    margin: 4em;

                    input{
                        font-size: 1.5em;

                        border: 1px solid black;
                        border-radius: 8px;

                        padding: 12px;

                        margin-right: 1em;
                    }
                    input::placeholder{
                        font-size: 1em;
                    }

                    button{
                        padding: 12px;

                        font-size: 1.5em;

                        border-radius: 8px;
                        border:1px solid  #f27400;

                        background-color: #fff;
                        color: #f27400;
                    }
                    button:hover{
                        transform: scale(1.05);

                        background-color: #f27400;
                        color: #fff;

                        border: 1px solid #fff;
                    }
                }
            }

            .opção-frete-etp1{
                background-color: #fff;

                margin-top: 2.5em;
                margin-bottom: 2.5em;

                hr{
                    width: 70em;
                }

                .titulo-frete-etp1{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    margin: 1.5em 3em;

                    .frete-etp1{
                        display: flex;
                        flex-direction: row;

                        img{
                            margin-right: 1em;
                        }
                        h1{
                            font-size: 1.9em;
                            font-weight: 450;
                        }
                    }

                    .valores-fixos{
                        h1{
                            font-size: 1.9em;
                            font-weight: 450;
                        }
                    }
                }

                .parte-final-frete{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    margin: 1.5em 3em;

                    .tipos-frete{
                        display: flex;
                        flex-direction: column;

                        label{
                            font-size: 1.5em;
                            margin-bottom: 1em;

                            input{
                                margin-left: 1em;

                            }
                        }

                    }

                    .valores-frete{
                        display: flex;
                        flex-direction: column;

                        color: #f27400;

                        span{
                            font-size: 1.5em;
                            margin-bottom: 1em;
                        }
                    }
                }
            }
        }
    }

    .bloco-final-etp1{
        display: flex;
        flex-direction: column;

        .Resumo-carrinho{
            display: flex;
            flex-direction: column;

            width: 25em;

            padding-left: 2em;
            background-color: #fff;

            h1{
                font-size: 2em;
                font-weight: normal;
            }
            p{
                font-size: 1.3em;

                background-color: #d9d9d9;

                border: none;
                width: 16.8em;

                padding: 13px;

            }
            button{
                font-size: 1.3em;

                color: #fff;
                background-color: #f27400;

                border: none;
                width: 18em;

                padding: 13px;
                margin-bottom: 1em;
            }
            button:hover{
                transform: scale(1.02);
            }
        }

        .informação-frete-etp1{
            display: flex;
            flex-direction: column;

            background-color: #fff;

            margin-top: 2.5em;

            h1{
                font-size: 2em;
                font-weight: normal;

                margin-left: 1em;
            }

            p{  
                width: 17em;

                font-size: 1.5em;
                line-height: 1.5em;

                background-color: #d9d9d9;

                margin-left: 0.5em;
            }
        }

        .cancelar-pedido{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #fff;

            margin-top: 2.5em;
            height: 7em;

            button{
                font-size: 1.3em;

                color: #fff;
                background-color: #f20000;

                border: none;
                width: 18em;

                padding: 13px;
            }
            button:hover{
                transform: scale(1.05);

                background-color: #f20000;
                color: #F20000;
            }
        }
    }
}