.cont-main-logom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 14em;
    height: 2.7em;

    .espacamento-logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        width: 16em;
        height: 3em;

        border-bottom: 2px solid #F27400;
    }
    .txt-logom{
        text-transform: uppercase;
        font-family: 'Goldman';
        font-size: 1.5em;
        font-weight: 100;

        margin: 0px;
        height: 0.9em;

        color: #fff;
    }

    .img-logom{
        position: relative;

        height: 2.3em;

        color: #fff;
    }
    .foguete-icon-logoM{
        width: 40px;
        height: 40px;
        margin: 0px;
    }

}