

.dtt-2{
    background-color: #d9d9d9;
    height: 200vh;

    
   
        .cxdo{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 130vh;
            width: 70%;
            padding-left: 5.5em;
            padding-top: 2em;
            
            
            .mlnu{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #ffffff;
                width: 130%;
                height: 120vh;
                position: relative;
                
                
                
                
                .cont-nml{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    position:absolute;
                    left: 7.5em;
                    top: 10%;

                
                    .nmrx1{
                        font-size: 40px;
                        padding-left: 0.5em;                        
                    }

                }

                .cont-zbx{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    
                    position: absolute;
                    left: 7.5em;
                    top: 25%;

                    .cdp{
                        background-color: #f27400;
                        color: #ffffff;
                        border-style: none;
                        border-color: #ffffff;
                        width: 12.5em;
                        height: 2em;
                        font-size: 30px;
                        border-radius: 0.2em;
                        margin-bottom: 1em;

                    }

                    .cdc{
                        display: flex;
                        flex-direction: row;
                        background-color: #bf691ae6;
                        color: #ffffff;
                        border-style: none;
                        border-color: #ffffff;
                        padding-left:0.5em;
                        padding-top: 0.3em;
                        width: 12.5em;
                        height: 2em;
                        font-size: 30px;
                        border-radius: 0.2em;

                        .idz{
                        padding-right: 0.5em;
                        height: 1.5em;
                        }
                    }


                    .ncx{
                        display: flex;
                        padding-left: 1em;
                         border: 1px solid rgba(66, 66, 66, 0.315);
                         width: 55%;
                         word-spacing: 6px;
                         height: 51vh;
                         margin-top: 3em;
                         font-size: 40px;
                         
                    }
                }


                .const-adl{
                    display:flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    
                    position: absolute;
                    right: 5em;
                    top: 23%;
                    
                    width: 60%;
                    height: 37vh;



                    .ndx{
                        

                        .afs{
                            font-size: 1em;
                        }
                    }

                    .mvb{
                        
                    }

                    .pdt{
                        width: 95%;
                    }   

                    .dbz{
                        
                    }
                }

                .dga{
                    display:flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    border: 1px solid #00000038;
                    
                    position: absolute;
                    right: 5em;
                    top: 55%;
                    
                    width: 60%;
                    height: 40vh;


                    .akd{
                            padding-left: 5em; 
                            padding-top: 1em;                       

                        .gsd{
                            font-size: 2em;
                        }
                    }

                            .info-1{
                                display: flex;
                                flex-direction: row;

                                position: absolute;
                                top: 20%;
                                border-radius: 0%;
                                

                                .asp{
                                    width: 30em;
                                    height: 5em;
                                    margin-right: 3em;
                                    background-color: #D9D9D9;
                                    border-color: #D9D9D9;
                                    border-style: none;
                                }

                                .ahs{   
                                    width: 30em;
                                    height: 5em;
                                    background-color: #D9D9D9;
                                    border-color: #D9D9D9;
                                    border-style: none;
                                }
                            }

                            .info-2{
                                position: absolute;
                                top: 45%;

                                .fja{

                                }

                                .gad{

                                }

                            .gha{

                            } 


                            }

                            .info-3{
                                position: absolute;
                                top: 60%;

                                .hga{

                                }

                                .lkf{
                                    width: 50%;
                                    height: 2em;
                                }

                            }
                  
                }

                .cont-zxd{

             
                    
                    
                    
                    .fjh1{
                        background-color: #f27400;
                        color: #ffffff;
                        border-style: none;
                        border-color: #ffffff;
                        width: 10em;
                        height: 2em;
                        font-size: 50px;
                        border-radius: 0.2em;
                    }
                
                }
                
            }         
        }      
}