.fundo-cadastro{
    background-color: #e4e4e4;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: none;
    
}

.f2{
    background-color: #ffffff;
    border-radius: 0.5em;
    height: 100vh;
    width: 130vh;
    padding-left: 2em;
}

.Nome{
    font-family: 'Goldman';
    color: #000;
    padding-top: 2em;
}

.input-nome{
    border-radius: 0.5em;
    background-color:#E4E4E4;
    padding: 0.5em;
    font-family: 'Goldman';
}

