.container-principal-caduser{
    background-color: #d9d9d9;
    height: 105vh;

    hr{
       width: 93%;
       margin-bottom: 3em;

    }

    .container-dois-cadtextos{
        background-color: #fff;
        border-radius: 10px;
        
        height: 85vh;
        width: 95%;
        margin-top: 5em;
        margin-left: 3em;
    }
    
    .titulo-caduser{
        font-family: 'Goldman';
        font-size: 25px;
        font-weight: normal;
    
        text-align: center;
        
        h1{
            padding-top: 1.5em;
        }
    }
    
    .textos-caduser{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    
        label{
            font-family: 'Goldman';
            font-size: 1.7em;
            line-height: normal;
        }
    
        input{
            border: none;
            outline: none;
            
            font-size: 1em;
            font-family: 'Goldman';
            color: #1f1f1f;
            margin-left: 8px ;
        }
    }

    .divisão-cartão{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        
        .final-cads{
            
            h2{
                font-family: 'Goldman';
                font-size: 30px;
                font-weight: normal;
            }

            label{
                font-family: 'Goldman';
                font-size: 25px;
                line-height: normal;
                margin-right: 15px;
            }

            input{
                height: 1em;
                width: 1em;
            }
        }

        .inputs-finais{
            display: flex;
            flex-direction: column;
            
            .cartao-user{
                display: flex;
                flex-direction: row ;

                margin-top: 1.5em;
                .div-cartao-1{
                    margin-left: 1.5em;

                    input{
                        font-family: 'Goldman';
                        font-size: 1.5em;

                        border: none;
                        outline: none;

                        background-color: #d9d9d9;

                        padding: 1em;
                    }
                }
            }
        }
    }

    .botao-cad-user{
        text-align: center;
        margin-top: 5em;

        button{
            padding: 1em 3em;

            font-family: 'Goldman';
            font-size: 2em;

            border-radius: 15px;
            background-color: #1f1f1f;
            color: #fff;
        }

        button:hover{
            transform: scale(1.1);
        }
    }
}

