.cont-main-c4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1e1e1e;
    height: 100vh;
    width: 20em;
    
    position: fixed;

    .cont-logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #F27400 ;
        height: 3em;
        width: 14em;

        margin-bottom: 1em;

        padding-left: 15px;
    }
    .cont-001{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        height: 3em;
        width: 14.9em;

        margin: 0em;

        border-bottom   : 1px solid #F27400;
    }
    .txt-cadastro-01{
        font-family: 'Goldman';
        font-size: 21px;
        font-weight: 100;
        letter-spacing: 1.5px;

        color: #fff;
    }
    .cont-002{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 3em;
        width: 14.4em;
    }
    .img-cont-02{
        height: max-content;

        margin-right: 13px;
    }
    .txt-cont-02{
        font-family: 'Goldman';
        font-size: 17.5px;
        font-weight: 100;

        color: #fff;
    }
    .cont-003{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        height: 3em;
        width: 13.9em;
    }
    .img-cont-03{
        width: max-content;
        height: max-content;

        margin-right: 13px;
    }
    .txt-cont-03{
        font-family: 'Goldman';
        font-size: 17.5px;
        font-weight: 100;

        color: #fff;
    }
    .cont-04{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 4em;
        width: 14.4em;

        border-bottom: 1px solid #F27400;
        border-top: 1px solid #F27400;
    }
    .txt-cont-04{
        font-family: 'Goldman';
        font-size: 21px;
        font-weight: 100;
        letter-spacing: 1.5px;

        color: #fff;
    }
    .cont-05{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 3em;
        width: 14.4em;
    }
    .img-cont-05{
        height: 23px;
    
        margin-right: 13px;
    }
    .txt-cont-05{
        font-family: 'Goldman';
        font-size: 17.5px;
        font-weight: 100;

        color: #fff;
    }
    .cont-06{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 3em;
        width: 14.4em;
    }
    .img-cont-06{
        width: 29px;
        height: 28px;
    
        margin-right: 13px;
    }
    .txt-cont-06{
        font-family: 'Goldman';
        font-size: 17.5px;
        font-weight: 100;

        color: #fff;
    }
    .cont-07{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 4em;
        width: 14.4em;

        border-bottom: 1px solid #F27400;
        border-top: 1px solid #F27400;
    }
    .txt-cont-07{
        font-family: 'Goldman';
        font-size: 21px;
        font-weight: 100;
        letter-spacing: 1.5px;

        color: #fff;
    }
    .cont-08{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 3em;
        width: 14.4em;
    }
    .img-cont-08{
        width: max-content;
        height: max-content;
        margin-top: 0px;
        margin-right: 13px;
    }
    .txt-cont-08{
        font-family: 'Goldman';
        font-size: 17.5px;
        font-weight: 100;
        margin-top: 20px;

        color: #fff;
    }

    .cont-09{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        height: 3em;
        width: 13em;

        margin-bottom: 1em;
    }
    .img-cont-09{
        width: max-content;
        height: max-content;
        margin-top: 0px;
        margin-right: 13px;
    }
    .cont-sair{
        margin-top: 8em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        height: 3em;
        width: 13em;
    }

    .img-cont-sair{
        width: max-content;
        height: max-content;
        margin-top: 0px;
        margin-right: 3px;
    }
}