.cont-main-outrasOp{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 25em;
    height: 26.2em;

    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    .cont-img-fav{
        margin-top: 0.8em;
        display: flex;
        flex-direction: row;
        width: 20em;
        height: 17em;
    }
    .img-produto{
        width: 200px;
        height: 260px;
    }
    .cont-icon-favorito{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: end;
        width: 4em;
        height: 4em;
    }
    .coracao-icon-card{
        width: 29px;
        height: 28px;
    }
    .cont-nmprod{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: max-content;
    }
    .cont-titulo-nmprod{
        width: 90%;
        height: 4em;
    }
    .paragrafo-nmprod{
        font-size: 18px;
        font-family: 'Goldman';
        margin: 0px;
        text-align: center;
        color: black;
    }
    .cont-valorprod{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 2em;
    }
    .valorprod{
        font-size: 20px;
        font-family: 'Goldman';
        font-weight: 100;
        color: #F27400;
    }
    @media screen and (max-width:1300px) and (min-width: 1000px) {
        width: 13em;
        height: 17em;
        .cont-img-fav{
            margin-top: 0em;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            width: 80%;
            height: 9em;
        }
        .img-produto{
            width: 120px;
            height: 130px;
        }
        .paragrafo-nmprod{
            font-size: 10px;
            font-family: 'Goldman';
            margin: 0px;
            text-align: center;
            color: black;
        }
        .cont-icon-favorito{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            width:2.8em;
            height: 4em;
        }
        .valorprod{
            font-size: 16px;
            font-family: 'Goldman';
            font-weight: 100;
            color: #F27400;
        }
        .cont-titulo-nmprod{
            width: 90%;
            height: 3.5em;
        }
        .coracao-icon-card{
            width: 20px;
            margin-left: 0.4em;
            height: 20px;
            cursor: pointer;
        }
    }
}