.Componente-end-config{
    display: flex;
    flex-direction: column;

    background-color: #d9d9d9;
    margin-bottom: 1.5em;
    padding: 1em;

    h2{
        font-size: 1.3em;
        font-weight: normal;
        font-family: 'Goldman';

        line-height: 10px;
    }
}