.cabecalho2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;

    width: 100%;
    height: 6em;

    .cont-logo{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-start;
    
        padding: 0px;
    
        margin-left: 2em;
    
        width: 19em;
        height: 4em;
        border-bottom: 2px solid #F27400;
    }

    .cont-login{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        width: 10em;
        height: 4em;

        margin-right: 2em;
    }

    .text-user{
        color: #fff;
        text-align: center;

        font-family: 'Goldman';
    }
    @media screen and (max-width: 1300px) and (min-width: 1000px) {
        align-items: center;
        width: 100%;
        height: 4em;
        .cont-logo{
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: flex-start;
        
            padding: 0px;
        
            margin-left: 2em;
        
            width: max-content;
            height: 2.2em;
            border-bottom: 1px solid #F27400;
        }
    
    }
}
