*{
    font-family: 'Goldman';
}

.fundo{
 background-color: #c4c4c4;
 height: 110vh;
}

.fundo2{
    background-color: #ffffff;
    height: 70em;
    width: 90em;

    position:relative;
    left: 16em;
    top: 16em;
    
    img{
        position: relative;
        top: 4.5em;
        left: 6em;
    }

    h1{
        position: relative;
        left: 6em;
        font-size: 2em;
    }

    p{
        position: relative;
        left: 4em;
        top: 1em;

        font-size: 1.4em;
    }
    
    button{
        position: relative;
        left: 23em;
        bottom: 2.2em;
               

        height: 3em;
        width: 15em;
        border-radius: .5em;
        border: 1px solid #F27400;
        background-color: transparent;
        color: #F27400;
    }
}

.infos{
    
    margin-top: 5em;
    margin-left: 6em;

    
    display: flex;
    flex-direction: column;

    img{
        height: 2em;

        display: flex;
        justify-content: end;
    }

    input{
        margin: 1em;
        
        height: 4em;
        width: 22em;

        border: none;
       font-size: 16px;

       background-color: #c4c4c4;
      
    }   
   
} 

.Sexualidade{


    position: relative;
    left: 1em;

    p{
        position: relative;
        left: 1em;
    }
    input{
        height: 2em;

        position: relative;
        left: .6em;
    }

    label{
        position: relative;
        left: 1em;
        top: 1em;
    }
}
