.cabecalho1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 4.2em;
    background-color: #1E1E1E;


    .cont-pesquisa{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        
        margin-right: 30px;
        margin-left: 50px;

        width: 25em;
        height: 4em;

    }
    
    .input-pesquisa{
        padding-left: 10px;
        width: 22em;
        height: 2.5em;
        margin-left: 1em;
        margin-right: -10px;

        border-radius: 8px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border: none;
        background-color: #D9D9D9;
    }

    textarea:focus, input:focus, select:focus {
        box-shadow: 0 0 0 0;
        border: 0 none;
        outline: 0;
    } 

    input::placeholder{
        color: black;
        font-family:'Goldman';
        font-size: 15px;
    }

    .botao-pesquisa{
        height: 2.5em;
        width: 3em;

        border-radius: 8px;
        border: none;

        background-color: #F27400;

        cursor: pointer;
    }


    .cont-logo{
        display: flex;
        flex-direction: row; 
        align-items: center;       

        width: 50em;
        height: 4em;


        margin-right: 30px;
    }

    .linha-cabeçalho{
        height: 0px;
        width: 250px;
        margin: 0px;

        border: 1px solid #F27400;

        background-color: #F27400;
    }

    .cont-login{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        width: 29em;
        height: 4em; 

    }

    .cont-carrinho{
        width: 5em;
        height: 4em;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .carrinho{
        position: absolute;

    }

    .carrinho:hover{
        width: 60px;
        height: 40px;
    }

    .numbercar{
        position: absolute;
        margin-left: 1.6em;
        margin-top: -0.9em;
    }

    .numbercar:hover{
        width: 30px;
        height: 32px;
    }

    .cont-icon-login{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .icon-login{
        margin-right: 10px;
        display: inline-block;
    }

    .text-login{
        font-family: 'Goldman';
        font-weight: 200;
        color: #fff;

        margin-right: 10px;

        cursor: pointer;
    }

    .text-login:hover{
        font-size: 26px;
    }

    .link{
        color: transparent;
    }

    .botao-cadastro{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;


        width: 9em;
        height: 2.2em;

        border: 3.2px solid white;
        border-radius: 8px;
        background-color: transparent;

        cursor: pointer;

        color: #fff;

        font-family: 'Goldman';
        font-size: 19px;
    }

    .botao-cadastro:hover{
        width: 9.1em;
        height: 2.2em;

        border: 4px solid #fff ;

    }
}
