.cabecalho1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 4.2em;
    background-color: #1E1E1E;
    .cont-info-userlogado{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 12em;
        height: 3em;
    }
    .number-carrinho{
        color: black;
        font-size: 16px;
        font-family: 'Goldman';
        font-weight: 700;
    }
    .icon-sair{
        width: 19px;
        height:22px;
        cursor: pointer;
    }
    .inicial{
        color: black;
        font-size: 16px;
        font-weight: 700;
        font-family: 'Goldman';
        margin: 0px;
    }
    .cont-inicial{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 30px;
        width: 1.9em;
        height: 1.9em;
        margin-right: 0.6em;
        cursor: pointer;
    }
    .titulo-usuario{
        color: white;
        font-size: 16px;
        font-weight: 100;
        font-weight: 100;
        font-family: 'Goldman';
        margin: 0px;
        margin-right: 0.6em;
    }

    .cont-pesquisa{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        
        margin-right: 30px;
        margin-left: 50px;

        width: 25em;
        height: 4em;

    }
    
    .input-pesquisa{
        padding-left: 10px;
        width: 22em;
        height: 2.5em;
        margin-left: 1em;
        margin-right: -10px;

        border-radius: 8px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border: none;
        background-color: #D9D9D9;
    }

    textarea:focus, input:focus, select:focus {
        box-shadow: 0 0 0 0;
        border: 0 none;
        outline: 0;
    } 

    input::placeholder{
        color: black;
        font-family:'Goldman';
        font-size: 15px;
    }

    .botao-pesquisa{
        height: 2.7em;
        width: 3.8em;

        border-radius: 8px;
        border: none;

        background-color: #F27400;

        cursor: pointer;
    }


    .cont-logo{
        display: flex;
        flex-direction: row; 
        align-items: center;       

        width: 50em;
        height: 4em;


        margin-right: 30px;
    }

    .linha-cabeçalho{
        height: 0px;
        width: 250px;
        margin: 0px;

        border: 1px solid #F27400;

        background-color: #F27400;
    }

    .cont-login{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        width: 29em;
        height: 4em; 

    }

    .cont-carrinho{
        width: 5em;
        height: 4em;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .carrinho{
        position: absolute;

    }

    .carrinho:hover{
        width: 60px;
        height: 40px;
    }

    .numbercar{
        position: absolute;
        margin-left: 1.6em;
        margin-top: -0.9em;
    }

    .numbercar:hover{
        width: 30px;
        height: 32px;
    }

    .cont-icon-login{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .icon-login{
        margin-right: 10px;
        display: inline-block;
    }

    .text-login{
        font-family: 'Goldman';
        font-weight: 200;
        color: #fff;

        margin-right: 10px;

        cursor: pointer;
    }

    .text-login:hover{
        font-size: 26px;
    }

    .link{
        color: transparent;
    }

    .botao-cadastro{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;


        width: 9em;
        height: 2.2em;

        border: 3.2px solid white;
        border-radius: 8px;
        background-color: transparent;

        cursor: pointer;

        color: #fff;

        font-family: 'Goldman';
        font-size: 19px;
    }

    .botao-cadastro:hover{
        width: 9.1em;
        height: 2.2em;

        border: 4px solid #fff ;

    }

    @media screen and (max-width: 1500px) and (min-width: 1300px) {
        .cabecalho1{
            height: 3.8em;
        }
        .cont-pesquisa{
            width: 18em;
            height: 2.8em;
            margin: 0px;
        }
        .input-pesquisa{
            padding-left: 10px;
            width: 15em;
            height: 2.2em;
    
            border-radius: 8px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            border: none;
            background-color: #D9D9D9;
        }
        .botao-pesquisa{
            height: 2.4em;
        }
        .linha-cabeçalho{
            height: 0px;
            width: 140px;
            margin: 0px;
    
            border: 1px solid #F27400;
    
            background-color: #F27400;
        }
        .cont-logo{
            margin-left: 1em;
            display: flex;
            flex-direction: row; 
            align-items: center;       
    
            width: 32em;
            height: 3em;
    
    
            margin-right: 0px;
        }
        .carrinho{
            width: 45px;
            height: 45px;
        }
        .numbercar{
            width: 19px;
            height: 19px;
        }
        .cont-carrinho{
            width: 4.1em;
            height: 3em;   
        }
        .cont-icon-login{
            height: 3em;   
        }
        .icon-login{
            width: 26px;
            height: 26px;
        }
        .text-login{
            font-size: 19px;
        }
        .botao-cadastro{
            width: 7.8em;
            height: 2em;

            font-size: 17px;
        }
        .botao-cadastro:hover{
            width: 7.9em;
            height: 2em;

        border: 4px solid #fff ;
        }
        .cont-login{
            height: 3em;

            margin-left: 1em;
        }
        .text-login:hover{
            font-size: 20px;   
        }
    
    }
    @media screen and (max-width: 1300px) and (min-width: 1000px) {
        .cabecalho1{
            height: 3.8em;
        }
        .cont-pesquisa{
            width: 15em;
            height: 2.8em;
            margin: 0px;
            
        }
        textarea:focus, input:focus, select:focus {
            box-shadow: 0 0 0 0;
            border: 0 none;
            outline: 0;
        } 
    
        input::placeholder{
            color: black;
            font-family:'Goldman';
            font-size: 13px;
        }
    
        .input-pesquisa{
            padding-left: 10px;
            width: 12em;
            height: 2em;
    
            border-radius: 8px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            border: none;
            background-color: #D9D9D9;
        }
        .botao-pesquisa{
            height: 2.2em;
            width: 3em;
        }
        .number-carrinho{
            font-size: 14px;
        }
        .bolinha-carrinho{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.952);
            width: 19px;
            height: 19px;
            position: relative;
            margin-left: 36px;
            margin-bottom: 28px;

            border-radius: 20px;
        }
        .linha-cabeçalho{
            height: 0px;
            width: 110px;
            margin: 0px;
    
            border: 1px solid #F27400;
    
            background-color: #F27400;
        }
        .cont-logo{
            margin-left: 1em;
            display: flex;
            flex-direction: row; 
            align-items: center;       
    
            width: 32em;
            height: 3em;
    
    
            margin-right: 0px;
        }
        .carrinho{
            width: 39px;
            height: 39px;
        }
        .numbercar{
            width: 18px;
            height: 18px;
        }
        .cont-carrinho{
            width: 4.1em;
            height: 3em;   
        }
        .cont-icon-login{
            height: 3em;   
        }
        .icon-login{
            width: 26px;
            height: 26px;
        }
        .text-login{
            font-size: 17px;
            margin: 0px;      
        }
        .botao-cadastro{
            width: 7.3em;
            height: 1.8em;

            font-size: 16px;
        }
        .botao-cadastro:hover{
            width: 7.3em;
            height: 1.8em;

        border: 4px solid #fff ;
        }
        .cont-login{
            height: 3em;
            width: 23em;

            margin-left: 0em;
        }
        .text-login:hover{
            font-size: 17px;   
        }
        .carrinho:hover{
            width: 39px;
            height: 39px;
        }
        .numbercar:hover{
            width: 18px;
            height: 18px;
        }
    }
}
@media screen and (max-width: 1500px) and (min-width: 1300px) {
    .cabecalho1{
        padding: 0px;
        justify-content: space-between;
        height: 3.6em;
    }
}
@media screen and (max-width: 1300px) and (min-width: 1000px) {
    .cabecalho1{
        padding: 0px;
        justify-content: space-between;
        height: 3.4em;
    }
}

